<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "TestNG">
    <test name = "test1">

        <groups>
            <define name = "all">

                <include name = "uni1" />
                <include name = "uni2" />
            </define>
            <run>
                <include name = "all"/>
            </run>
        </groups>
    </test>
</suite>